@import url('./variables.css');

#content {

    margin: 0 var(--font-size-title) 0 calc(var(--font-size-title)*2 + var(--padding-sidebar) + var(--width-sidebar));
    width: 100%;
}

.title {
    font-size: var(--font-size-title);
    font-weight: 600;
    line-height: var(--font-size-title);

    margin: var(--font-size-title) 0 var(--margin-bottom-title);
}
.subtitle {
    display: flex;
    align-items: center;
}
.view-info {
    font-size: 1rem;
    font-weight: 500;
}
.counter {
    font-size: 0.8rem;
    margin: 0.5rem 0 0;
}
.add-todo {
    font-size: 1rem;
    border: 0;
    border-radius:2em;

    background-color: var(--color-dark);

    padding: 0.5em 1em;
    margin-left: 5em;
    cursor: pointer;

    &:hover {
        background-color: var(--color-accent);
    }
}

#card-container {    
    margin: 2rem 0 0 0;

    display: grid;
    grid-template: repeat(auto-fill, minmax(10rem, 1fr)) / repeat(auto-fill, minmax(20rem, 1fr));
    gap: var(--font-size-title);
}