#sidebar {
    background-color: var(--color-dark);
    padding: var(--height-header) var(--font-size-title) 0 var(--padding-sidebar);

    & > * {
        padding-bottom: calc(var(--font-size-sidebar-section) /2);
    }
}

.sidebar-home, .projects-title {
    font-size: var(--font-size-sidebar-section);
    font-weight: 500;
    display: flex;

    align-items: center;
}

.sidebar-home img, .sidebar-projects img {
    height: var(--font-size-sidebar-section);
    padding: 0 1rem 0 0;
}

.sidebar-projects {
    display: flex;
    flex-direction: column;
}
.add-project {
    font-size: var(--font-size-sidebar-section);
    border: 0;
    border-radius: 2em;

    background-color: var(--color-light);

    padding: 0 0.5em;
    margin-left: 1.5em;
    cursor: pointer;

    &:hover {
        background-color: var(--color-accent);
    }
}

.projects-container {
    font-size: calc(var(--font-size-sidebar-section) *0.8);
    font-weight: 400;

    width: 100%;
    
    display: flex;
    flex-direction: column;
    & * {
        margin-left: 1.2rem;
        display: flex;
        justify-content: space-between;
    }
}
.name {
    position: relative;
    z-index: 0;
}
.name::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.3em;
    height: 0.4em;
    width: calc(100% + 0.5em);
    background-color: var(--color-accent);
    z-index: -1;
}
.project {
    align-items: center;
}
.project button {
    font-size: var(--font-size-sidebar-section);
    background-color: var(--color-dark);

    width: 1em;
    height: 1em;

    display: flex;
    align-items: center;
    justify-content: center;

    border: transparent;
    border-radius: 0.3em;
    cursor: pointer;

    transition: background-color 0.2s;

    cursor: pointer;

    &:hover {
        background-color: var(--color-light);
    }
}